html{
--background: #000000;
--color1: #ffffff;
--color2: #ffffff;
--color3: #ffffff;
--color4: #ffffff;


}

body{

    background-color: var(--color1);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--color4);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--color2);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--color3);
}
.jumbotron{

    color:var(--color2);
    background-color: var(--color3);
}
.card{

 
}