html{
--background: #000000;
--color1: #ffffff;
--color2: #ffffff;
--color3: #ffffff;
--color4: #ffffff;


}

#title{
    
    color: var(color(--color2));
    
}
body{

    background-color: var(--color1);
}
h2{
    color: var(--color4);

}
p{

    color: var(--color4);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--background);
    font-family: "Audiowide", monospace;
    font-weight: bold;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
   color: var(--color2); 
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--color3);
}

#siteheader{

    color:var(--background);
    background-color: var(--background);
}

