html{
--background: #000000;
--color1: #ffffff;
--color2: #ffffff;
--color3: #ffffff;
--color4: #ffffff;


}

#title{
    
    color: var(color(--color2));
    
}
body{

    background-color: var(--color1);
}
h2{
    color: var(--color4);

}
p{

    color: var(--color4);
}
.buttonlabel{
    /*    
        width:  70px;
        height: 70px;*/
        display: inline-block;    
        padding: 18px 0 0 0;
        font-size: 100%;
        text-decoration: none;
        color: black;
    
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--background);
    font-family: "Audiowide", monospace;
    font-weight: bold;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
   color: var(--color2); 
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--color3);
}

#siteheader{

    color:var(--background);
    background-color: var(--background);
}

#footer{

    background-color:var(--color2);
}

#main{

    overflow:auto;
    padding-bottom:150px;
    
}
.footer{
    position: absolute;
    /*margin-top: -150px;  negative value of footer height */
    height: 10px;
   /* clear:both;*/
    padding-top:10px;

}
.streamline{

    margin-top: 40px;
    border-radius: 20px;
    /*background-color:var(--color3); */
    width:200px;
    height:50px;
    line-height: 22px;
    
}
.searchinput:focus{

    border:1px solid var(--color3);
}

 .streamline h6{
    vertical-align: middle;
    display: inline-block;
}


